*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    /* font family */
    --ff-primary: Inter;
    --ff-secondary: Karla;
    /* font weight */
    --fw-norm: 300;
    --fw-bold: 900;
    /* colors */
    --clr-light: white;
    --clr-dark: black;
    --clr-accent: yellow;
    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-norm: 1rem;
}
/*font size for bigger screens */
@media (min-with: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h3: 2rem;
        --fs-norm: 1.25rem;
    }
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h1) }
h3 { font-size: var(--fs-h1) }