*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: ;
    --ff-secondary: ;

    --fw-norm: ;
    --fw-bold: ;

    --clr-light: ;
    --clr-dark: ;
    --clr-accent: ;

    --fs-h1: ;
    --fs-h2: ;
    --fs-h3: ;
    --fs-norm: ;
}
@media (min-with: 800px) {
    :root{
        --fs-h1: ;
        --fs-h2: ;
        --fs-h3: ;
        --fs-norm: ;
    }
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h1) }
h3 { font-size: var(--fs-h1) }